<div class="adminNavigation ">
		<ul class="nav nav-list">
			<li class="nav-header">Administration</li>
			<li><%= link_to "Home", admin_root_path%></li>
			<li><%= link_to "Posts", admin_posts_path%></li>
			<li><%= link_to "New Post", new_admin_post_path%></li>
			<li><%= link_to "Categories", admin_categories_path%></li>
			<li><%= link_to "Blogroll", admin_links_path%></li>
		</ul>
</div>