<div class="row-fluid navigationbar">
	<div class="span8">
			<div class="linklist">
				<div><%= link_to "Home", root_path%></div>
		
				<div class="dropdown">
				  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				    Categories
				  </a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<% @nav_cat.each do |n|%>
							<li><%= link_to "#{n.name}", tag_path("#{n.name}")%></li>
						<%end%>
						
						
				  </ul>
				</div>	
			<div><%= link_to "Blogroll", bloglist_path, :remote => true%></div>
			<div><%= link_to "Mission Statement", mission_path%></div>
			<div><%= link_to "Contact", contact_path %></div>
			<div><%= link_to "About", about_path%></div>
			
	
	</div>
	</div>
		<div class="span4">
		<%= render 'layouts/searchbar'%>
		</div>
	</div>


